
@{
    ViewData["Title"] = "Report";
    //https://localhost:44326/admin/report access this page
    Layout = "~/Views/Shared/_AdminPageLayout.cshtml";
}

<table class="table table-striped">
    <thead>
        <tr>
            <th scope="col">OrderId</th>
            <th scope="col">TagId</th>
            <th scope="col">StationId</th>
            <th scope="col">Result</th>
            <th scope="col">Status</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <th scope="row">1</th>
            <td>234</td>
            <td>8</td>
            <td>Pass</td>
            <td>Complete</td>
        </tr>
        <tr>
            <th scope="row">2</th>
            <td>274</td>
            <td>7</td>
            <td>Fail</td>
            <td>Incomplete</td>
        </tr>
        <tr>
            <th scope="row">3</th>
            <td>224</td>
            <td>8</td>
            <td>Pass</td>
            <td>Completed</td>
        </tr>
        <tr>
            <th scope="row">2</th>
            <td>274</td>
            <td>7</td>
            <td>Fail</td>
            <td>Incomplete</td>
        </tr>
        <tr>
            <th scope="row">3</th>
            <td>224</td>
            <td>8</td>
            <td>Pass</td>
            <td>Completed</td>
        </tr>
        <tr>
            <th scope="row">2</th>
            <td>274</td>
            <td>7</td>
            <td>Fail</td>
            <td>Incomplete</td>
        </tr>
        <tr>
            <th scope="row">3</th>
            <td>224</td>
            <td>8</td>
            <td>Pass</td>
            <td>Completed</td>
        </tr>
    </tbody>
</table>

