@{
    ViewData["Title"] = "StationManager";
    //https://localhost:44326/admin/StationManager access this page

    Layout = "~/Views/Shared/_AdminPageLayout.cshtml";
}

<table class="table table-striped">
    <thead>
        <tr>
            <th scope="col">Station#</th>
            <th scope="col">User Logged In</th>
            <th scope="col">Status</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <th scope="row">1</th>
            <td>1</td>
            <td>Occupied</td>
            <td></td>
        </tr>
        <tr>
            <th scope="row">2</th>
            <td>3</td>
            <td>Occupied</td>
            <td></td>
        </tr>
    </tbody>
</table>
<button type="button" class="btn-primary" href="">Create Station</button>
