@model WebApplication3.Models.UserPage
@{
    ViewData["Title"] = "UserPage";
    Layout = "~/Views/Shared/_UserPageLayout.cshtml";
}

<div class="container">
    <div class="row align-items-start">
        <div class="col border ">
            <h3>ORDER</h3>
            <span>1</span>
        </div>
        <div class="col border">
            <h3>WORKSTATION</h3>
            <span>@Html.DisplayFor(model => model.station.StationId)</span>
        </div>
        <div class="col border">
            <h3>RESOURCE</h3>
            <span>@Html.DisplayFor(model => model.@operator.OperatorId)</span>
        </div>
            </div>
</div><br />

<div class="container">
        <div class="row">
            <div class="col border">
                <div class="container">
                    <h5>Name: Sub Assembly E-Module -input</h5>
                    <div class="row border">
                        <div class="col">
                            <h6>Steps</h6>
                            <p>1</p>
                        </div>
                        <div class="col">
                            <h6>Description</h6>
                            <p>@Html.DisplayFor(model => model.instruction.Description)</p>
                        </div>
                    </div>
                </div>
                </div>
            <div class="col border">
                <img src="@Html.DisplayFor(model =>model.instruction.ImagePath)" alt="picture" class="img-fluid rounded" />
            </div>
        </div>
 </div>

