@model List<DoppleMessages.InstructionEntity>
@{
    ViewData["Title"] = "UserPage";
    Layout = "~/Views/Shared/_UserPageLayout.cshtml";
}
int ordernumber;
<div class="container">
    <div class="row align-items-start">
        <div class="col border ">
            <h3>ORDER</h3>
            <span>@Html.Display()</span>
        </div>
        <div class="col border">
            <h3>WORKSTATION</h3>
            <span>Station2</span>
        </div>
        <div class="col border">
            <h3>RESOURCE</h3>
            <span>Operator1</span>
        </div>
        <div class="col border">
            <h3>TIME</h3>
            <span>38.6 S</span>
        </div>
    </div>
</div><br />

<div class="container">
        <div class="row">
            <div class="col border">
                <div class="container">
                    <h5>Name: Sub Assembly E-Module -input</h5>
                    <div class="row border">
                        <div class="col">
                            <h6>Steps</h6>
                            <p>1</p>
                        </div>
                        <div class="col">
                            <h6>Description</h6>
                            <p>Dispense glue on the Emodule for fixation of the faceplate</p>
                        </div>
                    </div>
                </div>
                </div>
            <div class="col border">
                <img src="~/images/earbud1.jpg" alt="picture" class="img-fluid rounded" />
            </div>
        </div>
 </div>

