
@model  WebApplication3.Models.AddStation

@{
    ViewData["Title"] = "AddStation";
    //https://localhost:44326/admin/addstation access this page
    Layout = "~/Views/Shared/_AdminPageLayout.cshtml";
}



<h4>AddInstruction</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="AddStation">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="StationId" class="control-label">ID</label>
                <input asp-for="StationId" class="form-control" />
                <span asp-validation-for="StationId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary float-right" />
            </div>
        </form>
    </div>
</div>
<div>
    <a asp-action="Index">Back to List</a>
</div>

