
@{
    ViewData["Title"] = "Contact";
}

<h1>Contact Info</h1>
<p>Dopple B.V.</p>
<p>| Overcingellaan 7 | 9401 LA Assen | The Netherlands</p>
<p>Mobile: +31(0)6 46 182 537 </p>
<p> E-mail: christian.denherder@dopple.nl</p>

